		.menunav ul#menu{
			margin: 20px 20px 0px 20px;
			padding: 0px;
			height:40px;
		}
		.menunav ul#menu li{
			float: left;
			width:180px;
			height: 40px;
			list-style-type: none;
			position: relative;
		}
		.menunav ul#menu ul.sub{
			background: #000000;
			color: #ffffff;
			display: none;
		}


		.menunav ul#menu a{
			background: #000000;
			color: #ffffff;
			line-height: 40px;
			text-align: center;
			text-decoration: none;
			display: block;
			width:100%;
			height:100%;
		}
		.menunav ul#menu a:hover{

			border-width: 1px 1px  0px 1px;
			border-style: solid;
			border-color:#000000;
			margin:0px;
			padding: 0px;
			display: none;
			color: #ffffff;
			position: absolute;
		}
		.menunav ul#menu ul.sub li a{
			background:#000000;
			color:#ffffff;
			line-height:35px;
			text-align:left;
			text-indent: 5px;
		}
		.menunav ul#menu ul.sub li a:hover{
			background: #CCC;
			color:: #000000;
		}
