@charset "UTF-8";
/* ---------------------------------------------------------
	Browser Reset CSS
--------------------------------------------------------- */
body, ul, ol, li, h1, h2, h3, h4, h5, h6, div, dl, dt, dd, pre, code, form, fieldset, legend, p, blockquote, table, th, td {
    margin: 0;
    padding: 0;
}

body {
    font-family: "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", Verdana, Helvetica, sans-serif;
    vertical-align: middle;
}

img {
    border: 0;
    vertical-align: top;
}

ul, dl, ol {
    text-indent: 0;
}

sup {
    vertical-align: text-top;
}

sub {
    vertical-align: text-bottom;
}

/* input,textarea,select {font-family: inherit; font-size: inherit; font-weight:inherit;} */
* html input, * html textarea, * html select {
    font-size: 100%;
}

*:first-child + html + input, *:first-child html + textarea, *:first-child + html select {
     font-size: 100%;
 }

table {
    border-collapse: collapse;
    border-spacing: 0;
    font-size: inherit;
}

caption {
    text-align: left;
}

pre, code, kbd, samp, tt {
    font-family: monospace;
}

* html pre, * html code, * html kbd, * html samp, * html tt {
    font-size: 100%;
    line-height: 100%;
}

*:first-child + html pre, *:first-child html + code, *:first-child html + kbd, *:first-child + html + samp, *:first-child + html tt {
    font-size: 108%;
    line-height: 100%;
}

input, select, textarea {
    font-size: 100%;
}

input {
    outline: none;
}

figure {
    margin: 0;
    padding: 0;
}

/*............................
　　clearfix
............................*/
.clearfix {
    *zoom: 1;
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
}
/*............................
    Lyout
............................*/
body {
    background: #f2f2f2;
    font-size: 16px;
}

.wrapper {
    width: 100%;
    max-width: 960px;
    margin: 0 auto 50px;
}

.header {
    width: 100%;
    background: #edc9c9;
    margin: 0 0 2em 0;
    text-align: center;
}

.main {
    width: 100%;
    height: 300px;
    margin: 0 0 2em 0;
    float: right;
    background: #e6edc9;
    text-align: center;
}

.footer {
    width: 100%;
    margin: 0 0 10em 0;
    background: #c9ede3;
    clear: both;
    text-align: center;
}

.main,
.main-right,
.footer {
    padding: 3em 0;
}
/* ---------------------------------------------------------
	header
--------------------------------------------------------- */
.g-nav-03 {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding: 5px 0 0 0;
    background: #000;
}

.g-nav-03 ul li {
    width: 18%;
    padding: 5px 1%;
    list-style: none;
    float: left;
    position: relative;
}

.g-nav-03 ul li a {
    display: block;
    padding: 20px 0 23px;
    text-align: center;
    color: #fff;
}

.g-nav-03 ul li a:link,
.g-nav-03 ul li a:visited {
    text-decoration: none;
}

.g-nav-03 ul li a:hover,
.g-nav-03 ul li a:active {
    padding: 20px 0;
    background: #fff;
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

.g-nav-03 ul li a span {
    width: 21px;
    height: 17px;
    display: inline-block;
    margin: 0 0.3em 0 0;
    background-repeat: no-repeat;
    background-position: left center;
}

.g-nav-03 ul li:hover a,
.g-nav-03 ul li:active a {
    color: #000;
    background: #fff;
    font-weight: bold;
}
/* ---------------------------------------------------------
	second-level
--------------------------------------------------------- */
.g-nav-03 ul li .second-level {
    width: 100%;
    position: absolute;
    background: #000;
    font-size: 0.9em;
    opacity: 0;
}

.g-nav-03 ul li .second-level li {
    width: 90%;
    color: fff;
    padding: 0 5%;
}

.g-nav-03 ul li .second-level li a {
    padding: 1em 0 0.8em 20px;
    background: url("../images/icon-arrow-white.png") no-repeat left center;
    text-align: left;
    color: #FFF;
    font-weight: normal;
}

.g-nav-03 ul li .second-level li a:hover {
    text-decoration: underline;
}

.g-nav-03 ul li:hover .second-level {
    top: 77px;
    opacity: 1;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

